<div class="tabs-container">
  <!-- Main Content Area -->
  <div class="tabs-content" [@routeTransitionAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>

  <!-- Bottom Tab Bar -->
  <div class="custom-tab-bar">
    <a class="tab-button" routerLink="/home" routerLinkActive="active-tab">
      <ion-icon name="home"></ion-icon>
      <span>Home</span>
    </a>

    <a class="tab-button" routerLink="/quiz" routerLinkActive="active-tab">
      <ion-icon name="help-circle"></ion-icon>
      <span>Quiz</span>
    </a>

    <!-- Center Play Button (Games) -->
    <a class="center-play-button" routerLink="/games" routerLinkActive="active-tab">
      <div class="circle-btn">
        <ion-icon name="game-controller"></ion-icon>
      </div>
    </a>

    <a class="tab-button" routerLink="/bookmarks" routerLinkActive="active-tab">
      <ion-icon name="bookmark"></ion-icon>
      <span>Saved</span>
    </a>

    <a class="tab-button" routerLink="/profile" routerLinkActive="active-tab">
      <ion-icon name="person"></ion-icon>
      <span>Profile</span>
    </a>
  </div>
</div>
